* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    text-align: center;
    background-color: red;
    color: white;
    font-family: 'Sofia', sans-serif;
}

#activitee {
    font-weight: bold;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}

h1 {
    font-size: 35px;
}

.chrono {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: red;
    border: 15px solid rgb(246, 181, 16);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
    width: 350px;
    height: 350px;
}

.FonctionsTimer #BoutonDemarer {
    border: 4px solid green;
    background-color: green;
    border-radius: 8%;
}

.FonctionsTimer #BoutonDemarer:hover {
    border: 3px solid green;
}

#BoutonDemarer {
    color: white;
    font-size: 20px;
}

#timer {
    margin: 5%;
    font-size: 50px;
    color: white;
}

.Options_chronometre {
    padding-top: 1%;
    font-size: 25px;
    color: white;
}

.TempTravailModifieur {
    padding-top: 1%;
}

.PauseModifieur {
    padding-top: 1%;
}