/* Reset du navigateur */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definitions globale du style*/
body {
    text-align: center;
    background-color: red;
    color: white;
    font-family: 'Sofia', sans-serif;
}

h1 {
    font-size: 35px;
}

/* Style de l'activitée */

#activitee {
    font-weight: bold;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}

/* Style du chronomètre*/
.cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: red;
    border: 15px solid rgb(246, 181, 16);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
    width: 350px;
    height: 350px;
}

.chrono {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}


#timer {
    margin: 5%;
    font-size: 50px;
    color: white;
}

/* Style du bouton*/

.FonctionsTimer #BoutonDemarer {
    border: 4px solid green;
    background-color: green;
    border-radius: 8%;
}

.FonctionsTimer #BoutonDemarer:hover {
    border: 3px solid green;
}

#BoutonDemarer {
    color: white;
    font-size: 20px;
    font-family: 'Sofia', sans-serif;
}

/* Style des Inputs */

.Options_chronometre {
    padding-top: 1%;
    font-size: 25px;
    color: white;
}

.TempTravailModifieur {
    padding-top: 1%;
}

.PauseModifieur {
    padding-top: 1%;
}

/* style du bas de page */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    background-color: black;
}